%h1 まめ知識一覧
%div.digg_pagination
  = will_paginate @knowledges, :container=>false,:previous_label=>'前', :next_label=>'次'
%table
  %tr
    %th タイトル
    %th
    %th
    %th

  - @knowledges.each do |knowledge|
    %tr
      %td= knowledge.title
      %td= link_to '詳細', knowledge
      %td= link_to '編集', edit_knowledge_path(knowledge)
      %td= link_to '削除', knowledge, :confirm => 'Are you sure?', :method => :delete

%br

